@{
  Layout = "_Layout";
}

@model BeerAvailability.Models.Store

<h4>Add New Store</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.Location)
  @Html.TextAreaFor(model => model.Location)

  <input type="submit" value="Add Store" />
}
<p>@Html.ActionLink("See All Stores", "Index")</p>