@{
  Layout = "_Layout";
}

@using System.Collections.Generic;
@using BeerAvailability.Models;
@model BeerAvailability.Models.Beer;

<h2>Beer Details</h2>
<hr />
<h3>@Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.ABV): @Html.DisplayFor(model => model.ABV)</h3>

<h4>Locations of this beer:</h4>
  <ul>
  @foreach(var store in Model.JoinEntities)
  {
    <li>@Html.ActionLink($"{store.Store.Name}", "Details", "Stores", new { id = store.StoreId })</li>
  }
  </ul>

<p>@Html.ActionLink("Back to Beers", "Index")</p>
<p>@Html.ActionLink("Edit Beer", "Edit", new { id = Model.BeerId })</p>
<p>@Html.ActionLink("Delete Beer", "Delete", new { id = Model.BeerId })</p>