@{
  Layout = "_Layout";
}

@using System.Collections.Generic;
@using System.Linq;
@using BeerAvailability.Models
@model List<Beer>;


@using (Html.BeginForm())
{
  <p>
    Search Beer Inventory: @Html.TextBox("search")<br />
    <input type="submit" value="search" />
  </p>
}

@if (@Model.Count == 0)
{
  
} 
else
{
  foreach(var beer in Model)
  {
    <p>@Html.ActionLink($"{beer.Name}", "Details", "Beers", new { id = beer.BeerId })</p>
  }
}

@using (Html.BeginForm("BreweryApi", "Home", FormMethod.Get))
{
  <p>
    Search Brewery Details: @Html.TextBox("breweryName")<br />
    <input type="submit" value="search" />
  </p>
}

<p>@Html.ActionLink("See Beers", "Index", "Beers")</p>
<p>@Html.ActionLink("See Stores", "Index", "Stores")</p>
<p>@Html.ActionLink("Brewery Search", "BreweryApi", "Home")</p>
<p>@Html.ActionLink("Create Account", "Index", "Account")</p>
<p>@Html.ActionLink("View Account", "Details", "Account")</p>